:root {
    --bg: black;
    --bg-secondary: #23222a;
    --bg-accent: #3c3662;    
    --bg-slight-accent: #211b47;
    --text: white;
    --text-secondary: lightgray;
    --link: rgb(100, 100, 255);
    --primary: #5542cb;

    --border-radius: 20px;
    --border-radius-small: 10px;
}
* {
    box-sizing: border-box;
    color: var(--text);
    transition: transform 0.2s, color 0.5s;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
h1 {
    font-size: 3rem;
    margin: 20px 0px;
    padding: 0;
}
h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    width: fit-content;
}
h3 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--link);
}
a:visited {
    color: var(--link);
}
button {
    padding: 10px 20px;
    font-size: 20px;
    width: min-content;
    background-color: var(--primary);
    border-radius: var(--border-radius-small);
    border: none;
}
button:hover {
    background-color: #5858e4;
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
}