* {
    box-sizing: border-box;
    color: white;
    transition: color 0.2s, transform 0.2s;
}
body {
    display: flex;
    flex-direction: column;
    /*background-color: #18171d;*/
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
h1 {
    font-size: 3rem;
    margin: 20px 0px;
    padding: 0;
}
h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    width: fit-content;
}
h3 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(100, 100, 255);
}
a:visited {
    color: rgb(100, 100, 255);
}
button {
    padding: 10px 20px;
    font-size: 20px;
    width: min-content;
    background-color: #5542cb;
    border-radius: 10px;
    border: none;
}
button:hover {
    background-color: #5858e4;
    cursor: pointer;
}